
<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
<style>
@page
{
  size: A4 landscape;
  margin: 0;
}
.columns {
  column-width: 40%;
  max-width: 40%;
  margin: 0 auto;
}
.grid-container {
  display: grid;
  padding: 1%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat (2, 50vh);
  grid-gap: 1%;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  padding-top:10;
  font-size: 1.4vw;
}
</style>
</head>
<body>

<div>
  <p style="float: left; padding-left: 1%; font-size: 1.25vw;"><b>Nombre y Apellido __________________________________________</b></p>
  <p style="float: right; padding-right: 1%; font-size: 1.25vw;"><b>IPS.</b></p>
  <p style="float: right; padding-right: 5%; font-size: 1.25vw;"><b>Evaluación Matematica - Tema: 1 28/11/18</b></p>
<br><br><br>
</div>


<div class="grid-container">
  {% set npreg = 1 %}
  {% for preg in preguntas %}
    <div class="grid-item">
      <b><label>{{npreg}})_________ {{preg.devuelveDescripcion()}}</label></b><br>
      {% set abc = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N'] %}
      {% set index = 0 %}
      {% set respuestas = preg.devuelveRespuestas() %}
      {% for resp in respuestas %}
        <br><label>{{abc[index]}}) {{resp}}</label>
        {% set index = index + 1 %}
      {% endfor %}
    </div>
  {% set npreg = npreg + 1 %}
  {% endfor %}

</div>
</body>
</html>
